@page "/items"
@using Client
@using FolkDanceTime.Web.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject IItemClient ItemClient
@inject IDialogService DialogService

<PageTitle>Items</PageTitle>

<MudStack Row Justify="Justify.SpaceBetween">
    <MudText Typo="Typo.h4">Items</MudText>
    <MudIconButton
        Color="Color.Primary"
        Icon="@Icons.Filled.AddCircle"
        OnClick="@OpenDialog"
    />
</MudStack>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudGrid Spacing="2">
        @foreach (var item in items)
        {
            <MudItem>
                <ItemCard
                    Item="@item"
                    OnDelete="@OnDelete"
                />
            </MudItem>
        }
    </MudGrid>
}

@code {
    private ICollection<ItemDto> items;

    protected override async Task OnInitializedAsync()
    {
        items = await ItemClient.GetItemsAsync();
    }

    protected void OnAdd(ItemDto newItem)
    {
        items.Add(newItem);
    }

    protected void OnDelete(int id)
    {
        items = items.Where(c => c.Id != id).ToHashSet();
    }

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = DialogService.Show<AddItemDialog>("Create Item", options);
        var result = dialog.Result;

        //OnAdd(result.Data);
    }
}
